
.browser-app-section {
    z-index: 1;
    width: fit-content;
    height: fit-content;
    margin: calc(14px + 1.5%) 1% calc(14px + .5%) 1%;
}

.browser-app-section:hover {
    z-index: 2;
}

.browser-app-container {
    user-select: none;
    cursor: pointer;
    width: 200px;
    height: 250px;
    transition: all .2s ease-in-out;
    filter: drop-shadow(1px 1px 3px rgba(225,255,255,.1));
}

.browser-app-container:hover {
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 8px black);
}

.browser-app-image {
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.browser-app-title {
    margin: 0 0 0 0;
    min-width: 200px;
    font-size: 24px;
    margin-bottom: calc(14px + .5%);
    background-color: rgba(55,55,55,1);
}

.browser-app-bio {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(5,5,5,.5);
}

.browser-app-bio-content {
    display: block;
    position: fixed;
    top: 5vh;
    left: 5vw;
    z-index: 11;
    width: 90vw;
    height: 90vh;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(55,55,55,1);
}

.browser-app-bio-bg-bg {
    background-color: black;
    overflow: hidden;
}

.browser-app-bio-bg {
    width: 100%;
    height: 30vh;
    max-height: 250px;
    opacity: 0.75;
    filter: blur(12px);
    border-radius: 5px;
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

.browser-app-bio-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30vh;
    max-height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(2px -2px 2px black);
}

.browser-app-bio-title {
    margin-top: 12px;
}

.browser-app-bio-close {
    position: absolute;
    z-index: 12;
    width: 8vmin;
    height: 8vmin;
    min-width: 48px;
    min-height: 48px;
    max-width: 80px;
    max-height: 80px;
    margin: 2% 2% 2% 2%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.browser-app-bio-desc {
    width: 85vw;
    max-width: 800px;
    height: fit-content;
    min-height: 150px;
    max-height: (20vh - 278px);
    font-size: calc(12px + 1.5vmin);
    padding: 0 1% 0 1%;
    margin: 8px auto 8px auto;
    overflow: auto;
    border: 1px solid rgba(33,33,33,.3);
}

.browser-app-bio-content h1 {
    font-size: calc(18px + 2vmin);
}

.browser-app-bio-content button {
    min-width: 30vmin;
    max-width: 300px;
    min-height: 10vmin;
    max-height: 100px;
    border-radius: 50px;
    color: white;
    font-size: calc(12px + 2vmin);
    margin: 8px 5% 8px 5%;
    outline: none;
    border: 2px solid rgb(88,88,88);
}

.browser-app-bio-content button:hover {
    transition: all .33s ease-in-out;
    filter: drop-shadow(2px 2px 6px rgba(225,255,255,.5));
    border: 2px solid rgb(200,200,200);
}

.browser-app-bio-content button:active {
    border: 5px solid rgb(200,200,200);
}

.browser-app-launch {
    background-color: rgba(73, 100, 175, .33);
}

.browser-app-source {
    background-color: rgba(168, 98, 98, .33);
}

@media (max-height: 540px) {
    .browser-app-bio-desc {
        display: none;
    }
    .browser-app-bio-content button {
        margin-top: 16px;
        min-width: 60%;
        min-height: 20%;
        margin: 3vh auto;
    }
}

@media (max-height: 620px), (max-width: 480px) {
    .browser-app-bio-content {
        top: 1vh;
        left: 1vw;
        width: 98vw;
        height: 98vh;
    }
    .browser-app-container {
        width: 130px;
        height: 165px;
    }
    .browser-app-title {
        min-width: 130px;
        font-size: 16px;
    }
}
