
.testimonial-section {
  margin: 12.5vh auto;
  max-height: 200px;
  overflow: hidden;
}

.testimonial-section button {
  position: absolute;
  width: 32px;
  height: 200px;
  z-index: 99;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(200,200,200)"><path d="M16 15v4l8-8.035-8-7.965v4s-13.277 2.144-16 14c5.796-6.206 16-6 16-6z"/></svg>');
}

#cBtn-left {
  margin-left: 0;
  transform: scaleX(-1);
}

#cBtn-right {
  margin-left: calc(80% - 32px);
}

.testimonial-container {
  max-width: 720px;
  margin: auto auto;
}

.testimonial-body {
  display: flex;
}

.testimonial-text {
  width: 100%;
  text-align: left;
  margin: auto 5%;
}

.testimonial-image {
  display: flex;
  min-width: 180px;
  margin: auto auto;
}

.testimonial-image img {
  width: 64px;
  border: 3px solid rgba(255, 255, 255, 0.33);
  border-radius: 50px;
}

.testimonial-foot {
  display: flex;
}

.testimonial-detail {
  width: fit-content;
  min-width: 180px;
}

.testimonial-detail h4 {
  color: rgba(255, 255, 255, 0.66);
}

.testimonial-divider {
  height: 2px;
  width: 90%;
  margin: auto 5%;
  background-color: rgba(255, 255, 255, 0.33)
}

@media (max-width: 999px) {
  #cBtn-right {
    margin-left: calc(97% - 32px);
  }
}

@media (max-width: 768px) {
  .testimonial-section {
    max-height: 350px;
  }
  .testimonial-body {
    flex-direction: column-reverse;
  }
  .testimonial-image {
    align-items: center;
    justify-content: center;
  }
  .testimonial-image img {
    margin: 20px auto;
  }
  .testimonial-text {
    width: 90%;
    text-align: center;
    margin-bottom: 28px;
  }
  .testimonial-foot {
    flex-direction: column;
  }
  .testimonial-detail {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .testimonial-divider {
    margin-right: 10%;
  }
}
