
#footer {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    filter: drop-shadow(5px 5px 5px black);
    font-size: 12px;
    pointer-events: none;
    user-select: none;
}
