
#news-page-header {
  width: 100%;
  margin: 6vh 0 6vh 0;
  text-align: center;
}

.news-post {
  display: block;
  margin-top: 2vh;
  text-decoration: none;
  padding: 1vh 2vw 1vh 2vw;
  width: 95%;
  transition: all .25s;
  border: 1px solid grey;
  background-color: #131a4273;
}

.news-post:hover {
  transform: scale(1.05);
  border: 1px solid white;
  filter: drop-shadow(1px 1px 1px rgba(155, 155, 155, .2));
}

.news-post-head {
  display: flex;
  justify-content: space-between;
}

.news-post-head h2 {
  font-size: calc(9px + 2vmin);
}

.news-post-head h3 {
  font-size: calc(6px + 1.5vmin);
  color: rgba(255, 255, 255, .66);
}
