
#browser {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: auto;
    width: 96%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 0 2%  0 2%;
    height: 82.5vh;
}
