
#browser {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: auto;
    width: 96%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 0 2%  48px 2%;
    height: calc(82.5vh - 48px);
}
