
#jobs-browser-container {
  display: grid;
  place-items: center;
  margin-top: 58px;
}

.jobs-browser-post {
  display: grid;
  place-items: left;
  text-decoration: none;
  margin-top: 2vh;
  padding: 1vh 2vw 1vh 2vw;
  width: 95%;
  transition: all .25s;
  border: 1px solid grey;
  background-color: #131a4273;
}

.jobs-browser-post:hover {
  transform: scale(1.05);
  border: 1px solid white;
  filter: drop-shadow(1px 1px 1px rgba(155, 155, 155, .2));
}

.jobs-browser-post h2, .jobs-browser-post h3, .jobs-browser-post h4{
  margin: 1.5vh 0 1.5vh 0;
}

.jobs-browser-post h2, #job-details h2 {
  font-size: calc(9px + 2vmin);
}

.jobs-browser-post h2, #job-details h2 {
  font-size: calc(9px + 2vmin);
}

.jobs-browser-post h3, #job-details h3 {
  font-size: calc(8px + 2vmin);
  color: rgba(255, 255, 255, .66);
}

.jobs-browser-post h4, #job-details h4 {
  font-size: calc(4px + 2vmin);
  color: rgba(255, 255, 255, .33);
}

.jobs-browser-post-foot {
  display: flex;
  justify-content: space-between;
}

#jobs-browser-search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  margin: 58px 0 58px 0;
}

#jobs-browser-search-img {
  height: 24px;
  width: 24px;
  margin: 7px 12px 0 0;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M9.145 18.29c-5.042 0-9.145-4.102-9.145-9.145s4.103-9.145 9.145-9.145 9.145 4.103 9.145 9.145-4.102 9.145-9.145 9.145zm0-15.167c-3.321 0-6.022 2.702-6.022 6.022s2.702 6.022 6.022 6.022 6.023-2.702 6.023-6.022-2.702-6.022-6.023-6.022zm9.263 12.443c-.817 1.176-1.852 2.188-3.046 2.981l5.452 5.453 3.014-3.013-5.42-5.421z"/></svg>');
}

#job-details-backBtn {
  height: 24px;
  width: 24px;
  margin: auto 16px auto auto;
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(200,200,200)"><path d="M16 15v4l8-8.035-8-7.965v4s-13.277 2.144-16 14c5.796-6.206 16-6 16-6z"/></svg>');
}

#job-details-ui {
  display: flex;
  text-decoration: none;
  user-select: none;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 28px;
  cursor: pointer;
  border-radius: 50px;
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
}

#job-details-ui:hover {
  background-color: #2f4e838e;
}

#job-details-ui p {
  font-size: 18px;
  font-weight: bold;
  margin: auto auto;
  color: #4472c4;
}

#jobs-browser-search-container input {
  height: 38px;
  width: 250px;
  border: none;
  font-size: 22px;
  border-radius: 50px;
  outline: none;
  padding: 0 1vw 0 1vw;
  margin-right: 8px;
}

#jobs-browser-search-container input:placeholder-shown {
  text-align: center;
}

#job-details {
  margin: 2vh 0 0 0;
  padding: 2vh 2vw 2vh 2vw;
  border: 1px solid grey;
  background-color: #131a4273;
}

#job-details p {
  white-space: pre-wrap;
}

#job-details-h3s, #job-details-head {
  display: flex;
  justify-content: space-between;
}

#job-details-btns {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8vh 0 8vh 0;
}

#job-details a, #job-details button {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;

  margin: 2.5vh 5vw 2.5vh 5vw;
  padding: 2vh 0 2vh 0;
  width: 33%;
  min-width: 250px;
  font-weight: 400;
  height: fit-content;
  text-decoration: none;
  font-size: calc(12px + 1.5vmin);

  border: none;
  border-radius: 50px;
  color: rgb(243,240,236);
}

#job-details a:hover, #job-details button:hover {
  transform: scale(1.04);
}

#job-details-webBtn {
  background-color: rgb(11, 99, 170);
}

#job-details-appBtn {
  background-color: rgb(85, 145, 126);
}

#jobs-browser-list {
  width: 100%;
  min-width: 250px;
  max-width: 860px;
}

#job-description {
  display: block;
}

#job-description p {
  display: flex;
}

#job-description a {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: left;
  justify-content: left;

  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: fit-content;
  min-width: unset;
  font-weight: unset;
  height: fit-content;
  text-decoration: underline;
  font-size: unset;

  border: none;
  border-radius: unset;
  color: rgb(70,140,90);
}

#job-description a:hover {
  transform: unset;
}

#job-description h1,
#job-description h2,
#job-description h3,
#job-description h4,
#job-description h5,
#job-description h6 {
  color: rgba(255, 255, 255, .88);
}

#job-description img {
  width: 90%;
  margin: 28px auto 8px auto;
}

.job-apply-model-container {
  display: none;
  position: fixed;
  z-index: 100;
  top: 58px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 58px);
  background-color: rgba(0,0,0,.5);
}

.job-apply-model {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 101;
  width: 100%;
  max-width: 600px;
  height: 96%;
  max-height: 750px;
  margin: auto auto;
  border-radius: 10px;
  padding: 12px 5vw 12px 5vw;
  background-position: -500px -500px;
  background-image: radial-gradient(#273483, #131a42);
  background-color: #202c6e;
}

.job-apply-model h2 {
  width: 100%;
  text-align: center;
}

.job-apply-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: auto auto;
  overflow-y: auto;
  padding: 28px 0 48px 0;
}

.job-apply-form input {
  min-height: 32px;
  width: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0 8px 0 8px;
  margin: 8px auto;

  border-bottom: 5px solid rgb(85, 145, 126);
}

.job-apply-form label {
  font-weight: bold;
  min-height: 28px;
  width: 100%;
  text-align: center;
  margin: 24px auto 0 auto;
}

.job-apply-form button {
  font-weight: bold;
  color: white;
  outline: none;
  min-height: 42px;
  width: 250px;
  border: 1px solid grey;
  border-radius: 50px;
  margin: 5vh auto 0 auto;
  background-color: rgb(85, 145, 126);
}

.job-apply-form button:hover {
  border: 1px solid white;
  transform: scale(1.05);
}

.job-apply-close-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  width: calc(32px + 1vmin);
  height: calc(32px + 1vmin);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/></svg>');
}

.job-apply-close-btn:hover {
  transform: scale(1.05);
}

.loading-spinner {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M13.75 22c0 .966-.783 1.75-1.75 1.75s-1.75-.784-1.75-1.75.783-1.75 1.75-1.75 1.75.784 1.75 1.75zm-1.75-22c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm10 10.75c.689 0 1.249.561 1.249 1.25 0 .69-.56 1.25-1.249 1.25-.69 0-1.249-.559-1.249-1.25 0-.689.559-1.25 1.249-1.25zm-22 1.25c0 1.105.896 2 2 2s2-.895 2-2c0-1.104-.896-2-2-2s-2 .896-2 2zm19-8c.551 0 1 .449 1 1 0 .553-.449 1.002-1 1-.551 0-1-.447-1-.998 0-.553.449-1.002 1-1.002zm0 13.5c.828 0 1.5.672 1.5 1.5s-.672 1.501-1.502 1.5c-.826 0-1.498-.671-1.498-1.499 0-.829.672-1.501 1.5-1.501zm-14-14.5c1.104 0 2 .896 2 2s-.896 2-2.001 2c-1.103 0-1.999-.895-1.999-2s.896-2 2-2zm0 14c1.104 0 2 .896 2 2s-.896 2-2.001 2c-1.103 0-1.999-.895-1.999-2s.896-2 2-2z"/></svg>');
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.form-success {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(85, 145, 126)" viewBox="0 0 24 24"><path d="M21.856 10.303c.086.554.144 1.118.144 1.697 0 6.075-4.925 11-11 11s-11-4.925-11-11 4.925-11 11-11c2.347 0 4.518.741 6.304 1.993l-1.422 1.457c-1.408-.913-3.082-1.45-4.882-1.45-4.962 0-9 4.038-9 9s4.038 9 9 9c4.894 0 8.879-3.928 8.99-8.795l1.866-1.902zm-.952-8.136l-9.404 9.639-3.843-3.614-3.095 3.098 6.938 6.71 12.5-12.737-3.096-3.096z"/></svg>');
}
