
#header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-height: 10vh;
    background-color: #1e2025;
    padding: 3vh 0 3vh 0;
}

h1 {
    font-size: calc(9px + 3vmin);
    margin: unset;
}

h6 {
    font-size: 12px;
    margin: unset;
}
