
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #4472c4;
  border-radius: 10px;
}

#article {
  position: fixed;
  z-index: 0;
  top: 58px;
  left: 0;
  height: calc(100vh - 58px);
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #4472c4 #222;
  scrollbar-width: thin;
  background-position: -500px -500px;
  background-image: radial-gradient(#273483, #131a42);
  background-color: #202c6e;
}

#article-content {
  z-index: 0;
  color: white;
  margin: 0 10% 0 10%;
  padding-bottom: 80px;
}

@media (max-width: 999px) {
  #article {
    top: 48px;
    height: calc(100vh - 48px);
  }
  #article-content {
    margin: 0 1% 0 1%;
  }
}
